Paper Trader.json
{
  "name": "Paper Trader",
  "nodes": [
    {
      "parameters": {
        "url": "https://paper-api.alpaca.markets/v2/account",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "APCA-API-KEY-ID",
              "value": "XXXXX"
            },
            {
              "name": "APCA-API-SECRET-KEY",
              "value": "XXXXX"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        32
      ],
      "id": "753b7b52-68d2-4696-8e58-bb268575b963",
      "name": "Get Account Information",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "APCA-API-KEY-ID",
              "value": "XXXXX"
            },
            {
              "name": "APCA-API-SECRET-KEY",
              "value": "XXXXX"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "time_in_force",
              "value": "gtc"
            },
            {
              "name": "type",
              "value": "limit"
            },
            {
              "name": "extended_hours",
              "value": "={{ true }}"
            },
            {
              "name": "symbol",
              "value": "={{ $('On form submission').item.json[\"Submit a stock ticker:\"] }}"
            },
            {
              "name": "qty",
              "value": "1"
            },
            {
              "name": "position_intent",
              "value": "buy_to_open"
            },
            {
              "name": "side",
              "value": "buy"
            },
            {
              "name": "limit_price",
              "value": "={{ $('On form submission').item.json['How much will are you willing to pay per share?'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1168,
        -64
      ],
      "id": "56ec6dd6-3b17-4ded-b50c-83c4daa02872",
      "name": "Trade",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "6634340689",
        "message": "=Buy 1 share of {{ $('On form submission').item.json[\"Submit a stock ticker:\"] }}?\n\n{{ $json.choices[0].message.content }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        32
      ],
      "id": "13f17f3d-352e-45ab-bc8e-4f73852700f9",
      "name": "Send a text message",
      "webhookId": "63edd68d-9a6c-4d09-8424-fd291cbea78c",
      "credentials": {
        "telegramApi": {
          "id": "5AWB8LzaH8rlotoD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "740d52bd-a736-4a89-af6f-561cbfbd228d",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        944,
        32
      ],
      "id": "dbf5a1db-a80a-409e-873e-efdbc0ced0be",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer 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\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openrouter/free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a financial risk evaluation engine. Analyze the asset and context provided by the user. Output ONLY a valid JSON object containing 'risk_score' (an integer from 1 to 10 where 1 is cash-equivalent safety and 10 is high-risk speculative bankruptcy risk) and a short 1-sentence 'reason'. Do not include markdown code blocks, do not include backticks, and do not include any conversational filler.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Calculate the risk score for purchasing 1 share of  {{ $('On form submission').item.json[\"Submit a stock ticker:\"] }} stock.\"\n    }\n  ],\n  \"temperature\": 0.1\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        32
      ],
      "id": "8ff552e9-662b-4766-a6d7-dde07a9eed77",
      "name": "AI Sentiment"
    },
    {
      "parameters": {
        "formTitle": "Submit a valid US stock ticker.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is your name?"
            },
            {
              "fieldLabel": "Submit a stock ticker:",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "NVDA"
                  },
                  {
                    "option": "MSFT"
                  },
                  {
                    "option": "AAPL"
                  },
                  {
                    "option": "MU"
                  },
                  {
                    "option": "SNDK"
                  }
                ]
              }
            },
            {
              "fieldLabel": "How much will are you willing to pay per share?",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        48,
        32
      ],
      "id": "58c61729-f908-4c4c-9b71-198831eb346f",
      "name": "On form submission",
      "webhookId": "1493e4fe-faa3-4e7a-a840-a613a245d348"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Thanks",
        "completionMessage": "=Thanks {{ $('On form submission').item.json['What is your name?'] }}, Mike has approved your order through Telegram for {{ $('On form submission').item.json['Submit a stock ticker:'] }} at ${{ $('On form submission').item.json['How much will are you willing to pay per share?'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1392,
        -64
      ],
      "id": "1dfd6aef-0d1b-4455-8752-728e1048247a",
      "name": "Approval",
      "webhookId": "cfa68d53-12eb-47ed-b167-3736f8db458d"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Thanks",
        "completionMessage": "=Sorry {{ $('On form submission').item.json['What is your name?'] }}, Mike has rejected your request for an order for {{ $('On form submission').item.json['Submit a stock ticker:'] }} at ${{ $('On form submission').item.json['How much will are you willing to pay per share?'] }}. ",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1168,
        128
      ],
      "id": "72257fda-f364-437a-a93e-10983618a6cc",
      "name": "Rejection",
      "webhookId": "cfa68d53-12eb-47ed-b167-3736f8db458d"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Account Information": {
      "main": [
        [
          {
            "node": "AI Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Trade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trade": {
      "main": [
        [
          {
            "node": "Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Sentiment": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Get Account Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e4141ea1-56c1-40e8-b417-c04e66eee065",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be132a985ad74df5bfc26004547a7d18affb10610505d85f24bf9c3efaa18fb3"
  },
  "nodeGroups": [],
  "id": "TNl0TXwxYM2F88jD",
  "tags": []
}
